@import url(fonts/raleway.chs);
body{
	font-family: raleway;
}
#feedback
{
margin:10px;
width:90%;
float:left;
padding:10px;
color:black;
display: inline-block;
border-color:black;
border-width: 3px;
border-style: solid;
}
 .updatefeed, .deletefeed, .addfeed
{
background-color:white; 
color:black;
border-style: solid;
border-color:black;
border-width: 3px;

font-size:14px; 
padding-left:10px;
padding-top:5px;
padding-bottom:5px;
display:inline-block;
position:relative;
margin-left:10px;
font-family: raleway;
padding-right:10px; 
-moz-border-radius:40px 40px 40px 40px;  // rounds corners for firefox
border-radius:40px 40px 40px 40px;  //rounds corners for other browsers
}
.updatefeed:hover, .deletefeed:hover, .addfeed:hover
{
color:black;
border-style: dotted;
border-color:black;
border-width: 3px;
background-color:#E6E6B8;
cursor: pointer;
}
textarea {
  top:10px;
  resize: none;
  width: 480px;
  height: 60px;
  max-width: 480px;
  max-height: 200px;
  border-color:black;
  border-width: 3px;
  border-style: solid;
}